<h1>New User</h1>

<%= render "shared/errors" %>

<form action="<%= users_url %>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label for="user_username">User Name</label>
  <input type="text"
         name="user[username]"
         id="user_username"
         value="<%= @user.username %>">
  <br>

  <label for="user_password">Password</label>
  <input type="password"
         name="user[password]"
         id="user_password"
         value="<%= @user.password %>">
  <br>

  <label for="user_email">Email</label>
  <input type="text"
         name="user[email]"
         id="user_email"
         value="<%= @user.email %>">
  <br>

  <label for="user_phone">Phone Number</label>
  <input type="text"
         name="user[phone]"
         id="user_phone"
         value="<%= @user.phone %>">
  <br>

  <input type="checkbox" name="user[receive_emails]" id="user_receive_emails" value="true">
  <label for="cat_color_black">Join our Email List?</label>
  <br>

  <input type="checkbox" name="user[admin]" id="user_admin" value="true">
  <label for="user_admin">are you an administrator?</label>
  <br>

  <input type="submit">
</form>
